[access]
	inheritFrom = All-Projects
[project]
	description = Neutron Northbound
[receive]
	requireChangeId = true
[access "refs/*"]
	owner = group ldap/gerrit-neutron-committers
	read = group GitHub Replication
[allowSuperproject "releng/autorelease"]
	matching = refs/heads/stable/carbon:refs/heads/stable/carbon
